<%= form_for([@blog, @version]) do |f| %>
    <div class="full_blog">
      <div class="blog_title">
        <h2>  <%= f.title.capitalize %> </h2>
      </div>
      <div class="full_blog_content">
        <strong> Content: </strong>
        <%= f.content %>
      </div>
      <h3>  <%= link_to 'Go Back', :back %> </h3>
    </div>
<% end %>