.navbar-header {
  a {
    font-size: 30px;
    font-family: Lucida Grande;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}

.navbar {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.navbar-inverse .navbar-nav > li {
  a {
    color: rgb(255, 255, 255);
  }
  a:hover {
    color: gray;
  }
  .dropdown-menu>li>a{
    color: black;
  }
}

body {
  background-color: #69916F;
  background: -webkit-linear-gradient(to bottom, #69916F, #9ed99f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #69916F, #9ed99f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #69916F, #9ed99f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #69916F, #9ed99f)
}

//==========================
.user_details {
  width: 40%;
  margin: 10px auto;
}

.user_login_form, .signup_form {

  margin: 10% auto;
  background-color: rgba(58, 58, 58, 0.1);

  border-radius: 10px;
}

.user_login_form {
  width: 30%;
  padding: 30px 10px 30px 10px;
}

.signup_form {
  width: 50%;
  padding: 10px 10px 30px 10px;
}

.login_form {
  position: relative;
  margin-left: 35%;
}

.form_title {
  margin-left: 30%;
}

.login_actions {
  position: absolute;
  left: 74%;
  transform: translate(-50%, -50%);
}

.form_button {
  width: 40%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(58, 58, 58, 0.1);
}

.user_blog {
  margin-left: 20%;
}

//====================================

.message {
  width: auto;
  margin-left: 20%;
  padding: 1% 1% 1% 1%;
  color: white;
  font-size: 20px;
}

.warning {
  width: auto;
  margin-left: 20%;
  padding: 1% 1% 1% 1%;
  color: red;
  font-size: 20px;
}

pre {
  background-color: inherit;
  border: none;
}

//============================
.blogs_section::-webkit-scrollbar {
  display: none;
}
