.user_details{
  width: 40%;
  margin: 10px auto;
}

.user_login_form {
  width: 50%;
  margin: auto;
  background-color: rgb(223, 249, 255);
  box-shadow: 1px 1px 10px #888888;
  padding: 10px 10px 30px 10px;
}

.login_form {
  position: relative;
  margin-left: 35%;
}

.form_title{
  margin-left: 30%;
}

.login_actions {
  position: absolute;
  left: 74%;
  transform: translate(-50%, -50%);
}

.form_button{
  width: 40%;
  font-size: 20px;
  border-radius: 5px;
  background-color: #DFF9FF;
}
