// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_details {
  width: 40%;
  margin: 20px auto;
}

.login_form {
  position: relative;
}

.login_actions {
  position: absolute;
  left: 74%;
  transform: translate(-50%, -50%);
}

.login_actions button {
  width: 100px;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(58, 58, 58, 0.1);
  box-shadow: 1px 1px 5px rgb(251, 248, 244);
}

.register {
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 68%;

}

section.side_bar {
  float: left;
  width: 25%;
  height: 600px;
}

.create_new_blog {
  border-radius: 8px;
  text-decoration: none;
  margin: auto;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.create_new_blog a {
  padding-right: 10px;
  padding-left: 10px;
}

.create_new_blog:hover {
  background-color: rgba(58, 58, 58, 0.1);
  box-shadow: 1px 1px 10px rgb(251, 248, 244);
}

section.blogs_section {
  float: left;
  margin-left: 5%;
  height: 580px;
  overflow: scroll;
}

//=======================================================

.blog {
  background-color: rgba(58, 58, 58, 0.1);
  width: 600px;
  padding: 5px 8px 0 10px;
  margin-bottom: 5px;

}

.blog:hover {
  box-shadow: 2px 2px 10px white;
}

.blog .title {
  border-bottom: thin solid lightgray;
}

.blog_content {
  width: 90%;
  max-height: 70px;
  overflow: hidden;
  line-height: 25px;
  padding: 30px 0 2px 0;
  overflow: hidden;
}

.blog {
  padding-bottom: 20px;
}

.a_action {
  display: inline-block;
  margin-right: 10px;
}


strong {
  font-weight: 400;
}