// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_details {
  width: 40%;
  margin: 20px auto;
}

.login_form {
  position: relative;
}

.login_actions {
  position: absolute;
  left: 74%;
  transform: translate(-50%, -50%);
}

.login_actions button {
  width: 100px;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.register {
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 68%;

}
img{
  width: 600px;
  height: 600px;
  padding:0 10% 0 5%;
}
section.left{
  float: left;
}
